body {
background-color: #3f492a;


}

h1 {
    font-family: "Raleway", sans-serif;
    font-size: 34px;
    margin-bottom: 20px;
    color : #b5c18d;
}

h2 {
    font-family: "Muli", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    color: #9baf74;
}

h3{
 font-family: "Muli", sans-serif;
}


h4 {
 font-family: "Muli", sans-serif;
    font-size: 20px;
}

#return a:link{
     color: #3f492a;

    text-decoration: none;
}

#return a:visited{
   color: #3f492a;

    text-decoration: none;
}

ul {
font-family: "Roboto Condensed", sans-serif;
}

ul li{  
list-style:none;
	margin-bottom: 10px;
}

img{
  width: 50%;
  margin-left: 25%;
}


#wrapper{
background-color: #5c6b42;
width:60%;
position: absolute;
top:5%;
left: 27.5%;
margin-left: -120px;
padding: 10px;
 border-radius: 10px;
  font-family: "Muli", sans-serif;

}

#article {
  margin-right: 10%;
  margin-left: 10%;
}

 /* unvisited link */
#wrapper a:link {
    color: black;
     text-decoration: none;
}

/* visited link */
#wrapper a:visited {
    color: #3f492a;
     text-decoration: none;
}

/* mouse over link */
#wrapper a:hover {
    color: #FF9955;
     text-decoration: none;
}


#Menu {
background-color: #9baf74;
width : 15%;
position: fixed;
top: 5%;
right: 2%;
border-radius: 10px;
}

#Menu h2 {
  margin-top: 2px;
  color: #3f492a;
  text-align: right;
  padding-right: 2%;

}

#Menu p {
 margin-left: 12px;
   margin-right: 12px;
  margin-top: -6px;
  text-align: justify;
}

#Menu a {
   
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10px;
  text-decoration: none;
}

#Menu a:link {
    color: black;
     text-decoration: none;
}

/* visited link */
#Menu a:visited {
    color: #3f492a;
     text-decoration: none;
}

/* mouse over link */
#Menu a:hover {
    color: #FF9955;
     text-decoration: none;
}


#top {
position: fixed;
bottom: 2%;
right: 2%;
 font-family: "Muli", sans-serif;
}

#top a {
  text-decoration: none;
    color: #9baf74;

}
